<div style="color:FireBrick;">
	<h1 style="text-decoration: underline;">{{lannister.house}}</h1>
	<ul>
		<h2>{{lannister.parents.first_parents}}</h2>
		<ul>
			<h3>{{lannister.child.first_child}}</h3>
			<h3>{{lannister.child.second_child}}</h3>
			<h3>{{lannister.child.third_child}}</h3>
		</ul>
		<h2>{{lannister.parents.second_parents}}</h2>
		<ul>
			<h3>{{lannister.child.fourth_child}}</h3>
		</ul>
	</ul>
</div>


<div style="color:SandyBrown;">
	<h1 style="text-decoration: underline;">{{targaryen.house}}</h1>
	<ul>
		<h2>{{targaryen.parents}}</h2>
		<ul>
			<h3>{{targaryen.child.first_child}}</h3>
			<h3>{{targaryen.child.second_child}}</h3>
			<h3>{{targaryen.child.third_child}}</h3>
		</ul>
	</ul>
</div>

<div style="color:CadetBlue;">
	<h1 style="text-decoration: underline;">{{stark.house}}</h1>
	<ul>
		<h2>{{stark.parents}}</h2>
		<ul>
			<h3>{{stark.child.first_child}}</h3>
			<h3>{{stark.child.second_child}}</h3>
			<h3>{{stark.child.third_child}}</h3>
			<h3>{{stark.child.fourth_child}}</h3>
			<h3>{{stark.child.fifth_child}}</h3>
		</ul>
	</ul>
</div>