<div>
	<h1> Gym Members! </h1>
</div>
<div>
	<div> 	
	  {{#each super_clubs_data}}
	  	{{#if this.active}}
	  	<div style=" border-style: solid; width: 180px; margin-bottom: 20px; padding: 6px;">  		
			<div>
				<pre>{{this.id}}. {{this.name}}</pre>
				<pre>Visit count: {{this.visit_count}}</pre>
			</div>
			<div>
				<form method="PUT" action="/update?_method=PUT" class="button-size">
					<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
					<button type="submit" class="btn btn-default">Record Visit</button>
				</form>
			</div>
			<div>
				<form method="POST" action="/update?_method=PUT" class="button-size">
					<input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
					<button type="submit" class="btn btn-default">Remove Member</button>
				</form>
			</div>
	  	</div>
		{{/if}}
	  {{/each}}
	</div>
</div>
<div>
</div>


<div>
	<form action="/create" method="POST">
		<textarea class="form-control" type="text" name="burger" value="" id="enter_text"></textarea>
		<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
	</form>
	<p>Enter a burger you want to eat Click the "Submit" button.</p>
</div>